In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/Josh/codeup-data-science/numpy-pandas-visualization-exercises/mytable_customer_details - Copy of Table1_CustDetails.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7043 non-null   object
 1   gender                  7043 non-null   object
 2   is_female               7043 non-null   bool
 3   is_senior_citizen       7043 non-null   int64
 4   partner                 7043 non-null   object
 5   dependents              7043 non-null   object
 6   partner_dependents      7043 non-null   int64
 7   phone_service           7043 non-null   int64
 8   has_phone               7043 non-null   bool
 9   internet_service        7043 non-null   int64
 10  has_internet            7043 non-null   bool
 11  has_phone_and_internet  7043 non-null   bool
 12  contract_type           7043 non-null   int64
 13  payment_type            7043 non-null   object
 14  monthly_charges         7043 non-null   object
 15  total_charges           7032 non-null   object
 16  churn                   7043 non-null   object
 17  has_churned             7043 non-null   bool
 18  tenure                  7043 non-null   int64
 19  start_date              7043 non-null   object
 20  avg_monthly_charges     7043 non-null   object
 21  contract_type.1         7043 non-null   object
 22  phone_service.1         7043 non-null   object
 23  internet_service.1      7043 non-null   object
 24  service_type            7043 non-null   object
dtypes: bool(5), int64(6), object(14)
memory usage: 1.1+ MB

In [12]:
month_to_month = df[df['contract_type.1']=='Month-to-Month']

In [5]:
churned = df[df['churn']=='Yes']

In [6]:
churned

,customer_id,gender,is_female,is_senior_citizen,partner,dependents,partner_dependents,phone_service,has_phone,internet_service,...,total_charges,churn,has_churned,tenure,start_date,avg_monthly_charges,contract_type.1,phone_service.1,internet_service.1,service_type
2,0004-TLHLJ,Male,False,0,No,No,0,1,True,2,...,$280.85,Yes,True,3,2021-04-25,$93.62,Month-to-Month,One Line,Fiber Optic,phone_and_internet
3,0011-IGKFF,Male,False,1,Yes,No,1,1,True,2,...,"$1,237.85",Yes,True,12,2020-07-26,$103.15,Month-to-Month,One Line,Fiber Optic,phone_and_internet
4,0013-EXCHZ,Female,True,1,Yes,No,1,1,True,2,...,$267.40,Yes,True,3,2021-04-25,$89.13,Month-to-Month,One Line,Fiber Optic,phone_and_internet
18,0022-TCJCI,Male,False,1,No,No,0,1,True,1,...,"$2,791.50",Yes,True,44,2017-11-25,$63.44,1 Year,One Line,DSL,phone_and_internet
19,0023-HGHWL,Male,False,1,No,No,0,0,False,1,...,$25.10,Yes,True,1,2021-06-25,$25.10,Month-to-Month,No Phone Service,DSL,internet_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7017,9957-YODKZ,Male,False,1,No,No,0,2,True,2,...,$790.15,Yes,True,9,2020-10-25,$87.79,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
7025,9968-FFVVH,Female,True,0,Yes,Yes,3,0,False,1,...,$30.50,Yes,True,1,2021-06-25,$30.50,Month-to-Month,No Phone Service,DSL,internet_only
7036,9985-MWVIX,Female,True,0,No,No,0,1,True,2,...,$70.15,Yes,True,1,2021-06-25,$70.15,Month-to-Month,One Line,Fiber Optic,phone_and_internet
7037,9986-BONCE,Female,True,0,No,No,0,1,True,0,...,$85.50,Yes,True,4,2021-03-26,$21.38,Month-to-Month,One Line,No Internet Service,phone_only
7039,9992-RRAMN,Male,False,0,Yes,No,1,2,True,2,...,"$1,873.70",Yes,True,22,2019-09-25,$85.17,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet

In [7]:
churned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1869 entries, 2 to 7039
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             1869 non-null   object
 1   gender                  1869 non-null   object
 2   is_female               1869 non-null   bool
 3   is_senior_citizen       1869 non-null   int64
 4   partner                 1869 non-null   object
 5   dependents              1869 non-null   object
 6   partner_dependents      1869 non-null   int64
 7   phone_service           1869 non-null   int64
 8   has_phone               1869 non-null   bool
 9   internet_service        1869 non-null   int64
 10  has_internet            1869 non-null   bool
 11  has_phone_and_internet  1869 non-null   bool
 12  contract_type           1869 non-null   int64
 13  payment_type            1869 non-null   object
 14  monthly_charges         1869 non-null   object
 15  total_charges           1869 non-null   object
 16  churn                   1869 non-null   object
 17  has_churned             1869 non-null   bool
 18  tenure                  1869 non-null   int64
 19  start_date              1869 non-null   object
 20  avg_monthly_charges     1869 non-null   object
 21  contract_type.1         1869 non-null   object
 22  phone_service.1         1869 non-null   object
 23  internet_service.1      1869 non-null   object
 24  service_type            1869 non-null   object
dtypes: bool(5), int64(6), object(14)
memory usage: 315.8+ KB

### Percentage of all customers that have churned

In [8]:
len(churned)/len(df)

0.2653698707936959

In [9]:
churned_month_to_month = churned[churned['contract_type.1'] == 'Month-to-Month']

In [10]:
churned_month_to_month.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1655 entries, 2 to 7039
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             1655 non-null   object
 1   gender                  1655 non-null   object
 2   is_female               1655 non-null   bool
 3   is_senior_citizen       1655 non-null   int64
 4   partner                 1655 non-null   object
 5   dependents              1655 non-null   object
 6   partner_dependents      1655 non-null   int64
 7   phone_service           1655 non-null   int64
 8   has_phone               1655 non-null   bool
 9   internet_service        1655 non-null   int64
 10  has_internet            1655 non-null   bool
 11  has_phone_and_internet  1655 non-null   bool
 12  contract_type           1655 non-null   int64
 13  payment_type            1655 non-null   object
 14  monthly_charges         1655 non-null   object
 15  total_charges           1655 non-null   object
 16  churn                   1655 non-null   object
 17  has_churned             1655 non-null   bool
 18  tenure                  1655 non-null   int64
 19  start_date              1655 non-null   object
 20  avg_monthly_charges     1655 non-null   object
 21  contract_type.1         1655 non-null   object
 22  phone_service.1         1655 non-null   object
 23  internet_service.1      1655 non-null   object
 24  service_type            1655 non-null   object
dtypes: bool(5), int64(6), object(14)
memory usage: 279.6+ KB

In [15]:
len(churned_month_to_month)/len(month_to_month)

0.4272070211667527

In [16]:
churned_month_to_month['service_type'].value_counts()

phone_and_internet    1403
internet_only          153
phone_only              99
Name: service_type, dtype: int64

In [17]:
df['service_type'].value_counts()

phone_and_internet    4835
phone_only            1526
internet_only          682
Name: service_type, dtype: int64

### Percentage of month to month users that have churned

In [18]:
churned_month_to_month.size/churned.size

0.8855002675227395

In [19]:
churned_phone_and_internet = churned[churned['service_type']=='phone_and_internet']
churned_phone_and_internet

,customer_id,gender,is_female,is_senior_citizen,partner,dependents,partner_dependents,phone_service,has_phone,internet_service,...,total_charges,churn,has_churned,tenure,start_date,avg_monthly_charges,contract_type.1,phone_service.1,internet_service.1,service_type
2,0004-TLHLJ,Male,False,0,No,No,0,1,True,2,...,$280.85,Yes,True,3,2021-04-25,$93.62,Month-to-Month,One Line,Fiber Optic,phone_and_internet
3,0011-IGKFF,Male,False,1,Yes,No,1,1,True,2,...,"$1,237.85",Yes,True,12,2020-07-26,$103.15,Month-to-Month,One Line,Fiber Optic,phone_and_internet
4,0013-EXCHZ,Female,True,1,Yes,No,1,1,True,2,...,$267.40,Yes,True,3,2021-04-25,$89.13,Month-to-Month,One Line,Fiber Optic,phone_and_internet
18,0022-TCJCI,Male,False,1,No,No,0,1,True,1,...,"$2,791.50",Yes,True,44,2017-11-25,$63.44,1 Year,One Line,DSL,phone_and_internet
21,0023-XUOPT,Female,True,0,Yes,No,1,2,True,2,...,"$1,215.60",Yes,True,12,2020-07-26,$101.30,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7007,9940-RHLFB,Male,False,0,Yes,No,1,1,True,2,...,"$3,013.05",Yes,True,37,2018-06-26,$81.43,Month-to-Month,One Line,Fiber Optic,phone_and_internet
7014,9950-MTGYX,Male,False,1,No,No,0,1,True,2,...,"$2,030.30",Yes,True,20,2019-11-25,$101.52,Month-to-Month,One Line,Fiber Optic,phone_and_internet
7017,9957-YODKZ,Male,False,1,No,No,0,2,True,2,...,$790.15,Yes,True,9,2020-10-25,$87.79,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
7036,9985-MWVIX,Female,True,0,No,No,0,1,True,2,...,$70.15,Yes,True,1,2021-06-25,$70.15,Month-to-Month,One Line,Fiber Optic,phone_and_internet
7039,9992-RRAMN,Male,False,0,Yes,No,1,2,True,2,...,"$1,873.70",Yes,True,22,2019-09-25,$85.17,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet

In [20]:
churned_phone_and_internet.size/churned.size

0.8485821294810059

In [21]:
churned_phone_and_internet.size/churned_month_to_month.size

0.9583081570996979

In [22]:
churned_internet = churned[churned['service_type']=='internet_only']

In [23]:
churned_internet.size

4250

In [24]:
churned_phone = churned[churned['service_type']=='phone_only']

In [25]:
churned_phone.size

2825

In [26]:
churned['tenure'].value_counts()

1     448
2      98
3      90
4      79
5      53
     ...
71      4
72      4
62      2
73      2
74      1
Name: tenure, Length: 74, dtype: int64

In [27]:
churned_one_month = churned[churned['tenure']==1]

In [28]:
churned_one_month['avg_monthly_charges']

19      $25.10
34      $91.10
57      $19.85
58      $99.75
80      $80.20
         ...
6965    $74.30
6974    $25.05
7001    $75.30
7025    $30.50
7036    $70.15
Name: avg_monthly_charges, Length: 448, dtype: object

In [29]:
churned_one_month.size/churned.size

0.2397003745318352

In [30]:
df[df['tenure']==1].size

18600

In [31]:
not_churned = df[df['churn']=='No']

In [32]:
not_churned[not_churned['contract_type.1']=='Month-to-Month']

,customer_id,gender,is_female,is_senior_citizen,partner,dependents,partner_dependents,phone_service,has_phone,internet_service,...,total_charges,churn,has_churned,tenure,start_date,avg_monthly_charges,contract_type.1,phone_service.1,internet_service.1,service_type
1,0003-MKNFE,Male,False,0,No,No,0,2,True,1,...,$542.40,No,False,9,2020-10-25,$60.27,Month-to-Month,Two or More Lines,DSL,phone_and_internet
5,0013-MHZWF,Female,True,0,No,Yes,2,1,True,1,...,$571.45,No,False,8,2020-11-24,$71.43,Month-to-Month,One Line,DSL,phone_and_internet
8,0015-UOCOJ,Female,True,1,No,No,0,1,True,1,...,$340.35,No,False,7,2020-12-25,$48.62,Month-to-Month,One Line,DSL,phone_and_internet
12,0018-NYROU,Female,True,0,Yes,No,1,1,True,2,...,$351.50,No,False,5,2021-02-23,$70.30,Month-to-Month,One Line,Fiber Optic,phone_and_internet
17,0021-IKXGC,Female,True,1,No,No,0,2,True,2,...,$72.10,No,False,1,2021-06-25,$72.10,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7021,9962-BFPDU,Male,False,1,Yes,Yes,3,2,True,2,...,"$3,625.20",No,False,33,2018-10-26,$109.85,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
7023,9965-YOKZB,Female,True,0,No,No,0,1,True,1,...,"$1,517.50",No,False,27,2019-04-26,$56.20,Month-to-Month,One Line,DSL,phone_and_internet
7031,9974-JFBHQ,Male,False,0,No,Yes,2,1,True,2,...,"$6,171.20",No,False,62,2016-05-27,$99.54,Month-to-Month,One Line,Fiber Optic,phone_and_internet
7033,9975-SKRNR,Male,False,0,No,No,0,1,True,0,...,$18.90,No,False,1,2021-06-25,$18.90,Month-to-Month,One Line,No Internet Service,phone_only
7040,9992-UJOEL,Male,False,0,No,No,0,1,True,1,...,$92.75,No,False,1,2021-06-25,$92.75,Month-to-Month,One Line,DSL,phone_and_internet

In [33]:
churned_month_to_month['service_type'].value_counts()

phone_and_internet    1403
internet_only          153
phone_only              99
Name: service_type, dtype: int64

In [34]:
df_monthly = df[df['contract_type.1']=='Month-to-Month']
df_monthly

,customer_id,gender,is_female,is_senior_citizen,partner,dependents,partner_dependents,phone_service,has_phone,internet_service,...,total_charges,churn,has_churned,tenure,start_date,avg_monthly_charges,contract_type.1,phone_service.1,internet_service.1,service_type
1,0003-MKNFE,Male,False,0,No,No,0,2,True,1,...,$542.40,No,False,9,2020-10-25,$60.27,Month-to-Month,Two or More Lines,DSL,phone_and_internet
2,0004-TLHLJ,Male,False,0,No,No,0,1,True,2,...,$280.85,Yes,True,3,2021-04-25,$93.62,Month-to-Month,One Line,Fiber Optic,phone_and_internet
3,0011-IGKFF,Male,False,1,Yes,No,1,1,True,2,...,"$1,237.85",Yes,True,12,2020-07-26,$103.15,Month-to-Month,One Line,Fiber Optic,phone_and_internet
4,0013-EXCHZ,Female,True,1,Yes,No,1,1,True,2,...,$267.40,Yes,True,3,2021-04-25,$89.13,Month-to-Month,One Line,Fiber Optic,phone_and_internet
5,0013-MHZWF,Female,True,0,No,Yes,2,1,True,1,...,$571.45,No,False,8,2020-11-24,$71.43,Month-to-Month,One Line,DSL,phone_and_internet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7033,9975-SKRNR,Male,False,0,No,No,0,1,True,0,...,$18.90,No,False,1,2021-06-25,$18.90,Month-to-Month,One Line,No Internet Service,phone_only
7036,9985-MWVIX,Female,True,0,No,No,0,1,True,2,...,$70.15,Yes,True,1,2021-06-25,$70.15,Month-to-Month,One Line,Fiber Optic,phone_and_internet
7037,9986-BONCE,Female,True,0,No,No,0,1,True,0,...,$85.50,Yes,True,4,2021-03-26,$21.38,Month-to-Month,One Line,No Internet Service,phone_only
7039,9992-RRAMN,Male,False,0,Yes,No,1,2,True,2,...,"$1,873.70",Yes,True,22,2019-09-25,$85.17,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
7040,9992-UJOEL,Male,False,0,No,No,0,1,True,1,...,$92.75,No,False,1,2021-06-25,$92.75,Month-to-Month,One Line,DSL,phone_and_internet

In [35]:
df_monthly['service_type'].value_counts()

phone_and_internet    2974
phone_only             524
internet_only          376
Name: service_type, dtype: int64

In [36]:
df_monthly['tenure'].value_counts()

1     729
2     202
3     176
4     154
9     106
     ...
65      9
67      9
64      9
69      3
70      2
Name: tenure, Length: 71, dtype: int64

In [37]:
churned_month_to_month['tenure'].value_counts()

1     446
2      98
3      90
4      77
5      53
     ...
55      1
61      1
62      1
69      1
70      1
Name: tenure, Length: 70, dtype: int64

In [38]:
churned_mtm = pd.DataFrame(churned_month_to_month['tenure'].value_counts())
churned_mtm

    tenure
1      446
2       98
3       90
4       77
5       53
..     ...
55       1
61       1
62       1
69       1
70       1

[70 rows x 1 columns]

In [39]:
df_one_year = df[df['contract_type.1']=='1 Year']
df_one_year['tenure'].mean()

41.510522742701966

In [40]:
df_two_years = df[df['contract_type.1']=='2 Year']
df_two_years['tenure'].mean()

56.30129716981132

In [41]:
churned_fiber = churned[churned['internet_service.1']=='Fiber Optic']
churned_fiber[churned_fiber['phone_service.1']=='Two or More Lines']

,customer_id,gender,is_female,is_senior_citizen,partner,dependents,partner_dependents,phone_service,has_phone,internet_service,...,total_charges,churn,has_churned,tenure,start_date,avg_monthly_charges,contract_type.1,phone_service.1,internet_service.1,service_type
21,0023-XUOPT,Female,True,0,Yes,No,1,2,True,2,...,"$1,215.60",Yes,True,12,2020-07-26,$101.30,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
47,0080-OROZO,Male,False,0,No,No,0,2,True,2,...,"$4,036.85",Yes,True,38,2018-05-27,$106.23,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
58,0100-DUVFC,Male,False,0,No,Yes,2,2,True,2,...,$99.75,Yes,True,1,2021-06-25,$99.75,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
65,0111-KLBQG,Male,False,0,Yes,No,1,2,True,2,...,"$2,317.10",Yes,True,20,2019-11-25,$115.86,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
69,0114-PEGZZ,Female,True,0,No,No,0,2,True,2,...,$511.25,Yes,True,6,2021-01-24,$85.21,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6977,9903-LYSAB,Female,True,1,Yes,No,1,2,True,2,...,"$2,381.55",Yes,True,25,2019-06-26,$95.26,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
6986,9917-KWRBE,Female,True,0,No,No,0,2,True,2,...,"$1,072.00",Yes,True,13,2020-06-25,$82.46,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
7000,9932-WBWIK,Female,True,0,Yes,No,1,2,True,2,...,$865.80,Yes,True,9,2020-10-25,$96.20,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
7017,9957-YODKZ,Male,False,1,No,No,0,2,True,2,...,$790.15,Yes,True,9,2020-10-25,$87.79,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
7039,9992-RRAMN,Male,False,0,Yes,No,1,2,True,2,...,"$1,873.70",Yes,True,22,2019-09-25,$85.17,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet

In [42]:
churned_fiber['dependents'].value_counts()

No     1095
Yes     202
Name: dependents, dtype: int64

In [43]:
churned_fiber['partner'].value_counts()

No     795
Yes    502
Name: partner, dtype: int64